<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogger</title>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous" />
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- css -->
    <link type="text/css" rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <!-- navbar -->
    <nav>
      <a href="/user">
        <span class="material-symbols-outlined"> home </span>
        <p>Home</p>
      </a>
      <a href="/user/settings">
        <span class="material-symbols-outlined"> settings </span>
        <p>Settings</p>
      </a>
      <a href="/main">
        <span class="material-symbols-outlined"> logout </span>
        <p>Log Out</p>
      </a>
    </nav>
    <div class="line-thin-2"></div>

    <!-- homepage title -->
    <p class="author-name"><%=author.author_name %></p>
    <div class="page-headings">
      <h1><%=author.blog_title %></h1>
      <p><%=author.blog_desc %></p>
    </div>

    <!-- unpublished drafts list -->
    <div class="d-flex justify-content-between">
      <h3>Saved Drafts</h3>
      <p><a class="btn btn-success" href="/user/new-draft">New Draft</a></p>
    </div>
    <% if (drafts.length === 0 || drafts === undefined) { %>
    <p class="text-style">You have no saved drafts.</p>
    <% } else {%>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Creation Date</th>
        <th>Last Edit</th>
        <th>Likes</th>
        <th>ID</th>
        <th>Options</th>
      </tr>
      <% drafts.forEach(draft => { %>
      <tr>
        <!-- view article -->
        <td class="article-title">
          <a href="/user/<%= draft.article_id%>">
            <%= draft.article_title %>
          </a>
        </td>
        <td><%= author_names[draft.author_id-1] %></td>
        <td><%= draft.creation_date %></td>
        <td><%= draft.edit_date %></td>
        <td><%= draft.likes %></td>
        <td><%= draft.article_id %></td>
        <!-- buttons -->
        <td class="button-row">
          <p>
            <a class="btn btn-primary" href="/user/edit/<%= draft.article_id%>">
              Edit
            </a>
          </p>
          <p>
            <a
              class="btn btn-primary"
              href="/user/publish-draft/<%= draft.article_id%>">
              Publish
            </a>
          </p>
          <p>
            <a
              class="btn btn-danger"
              href="/user/delete-article/<%= draft.article_id%>"
              >Delete</a
            >
          </p>
        </td>
      </tr>

      <% }) %>
    </table>
    <% }%>
    <div class="line-thin"></div>

    <!-- published articles list -->
    <h3>Published Articles</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Creation Date</th>
        <th>Last Edit</th>
        <th>Likes</th>
        <th>ID</th>
        <th>Options</th>
      </tr>
      <% articles.forEach(article => { %> <% if (article.author_id == 1) { %>
      <tr>
        <td class="article-title">
          <a href="/user/<%= article.article_id%>"
            ><%= article.article_title %></a
          >
        </td>
        <td><%= author_names[article.author_id-1] %></td>
        <td><%= article.creation_date %></td>
        <td><%= article.edit_date %></td>
        <td><%= article.likes %></td>
        <td><%= article.article_id %></td>
        <!-- buttons -->
        <td class="button-row">
          <p>
            <a
              class="btn btn-primary"
              href="/user/edit/<%= article.article_id%>">
              Edit
            </a>
          </p>
          <p>
            <a
              class="btn btn-primary"
              onclick="prompt('Here is your sharing link:', 'http\:\/\/localhost:3000/main/<%= article.article_id %>')">
              Share
            </a>
          </p>
          <p>
            <a
              class="btn btn-danger"
              href="/user/delete-article/<%= article.article_id%>"
              >Delete</a
            >
          </p>
        </td>
      </tr>
      <% } %> <% }) %>
    </table>
    <div class="line-thick"></div>

    <!-- published articles list 2-->
    <h3>Other Bloggers</h3>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Creation Date</th>
        <th>Last Edit</th>
        <th>Likes</th>
        <th>ID</th>
        <th>Options</th>
      </tr>
      <% articles.forEach(article => { %> <% if (article.author_id != 1) { %>
      <tr>
        <td class="article-title">
          <a href="/main/<%= article.article_id%>"
            ><%= article.article_title %></a
          >
        </td>
        <td><%= author_names[article.author_id-1] %></td>
        <td><%= article.creation_date %></td>
        <td><%= article.edit_date %></td>
        <td><%= article.likes %></td>
        <td><%= article.article_id %></td>
        <!-- buttons -->
        <td class="button-row">
          <p>
            <a
              class="btn btn-primary"
              onclick="prompt('Here is your sharing link:', 'http\:\/\/localhost:3000/main/<%= article.article_id %>')">
              Share
            </a>
          </p>
        </td>
      </tr>
      <% } %> <% }) %>
    </table>
  </body>
</html>
